body{
    text-align:center;
    background-color: black;
}

.main {
    position: relative;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #888;
    color:white;
    box-shadow: 10px 10px white;
    background-color: black;
}
.main1{
margin-top:150px;
}

.link{
    width: 45px; 
    height: 45px;
    line-height: 46px;
    padding: 15px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: white;
}
.link2{
  margin-top: 100px;
  margin-left:-800px;
  width:300px;
  line-height: 32px;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border:white 1px solid;
  text-transform: uppercase;
  padding: 30px;
  font-size: 35px;
  line-height: 32px;
  
}
.link2:hover{
    line-height: 32px;
    font-size: 13px;
    color:black;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s ease;
    background-color: white;
    transition: all 0.5s ease;
    padding: 32px;
    font-size: 35px;
    line-height: 32px;
    text-decoration: none;
}
.link3{
  font-size:20px;
}




.h11{
    color:white;
    font-size:130px;
}
.h13{
    color:white;
    font-size:45px;
    font-family:'Snell Roundhand, cursive';
}
.otstup{
    margin-top:225px;
}
.h11{
    font-size:61px;
    color:white;
}




.body_slides{
    list-style:none;
    margin:0;
    padding:0;
    z-index:-2; 
    background:#000;}
.body_slides,
.body_slides:after{
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;}
.body_slides:after { 
    content: '';
    background: transparent url(images/pattern.png) repeat top left;}
 
.body_slides li{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-size:cover;
    background-repeat:none;
    opacity:0;
    -webkit-animation: anim_slides 24s linear infinite 0s;
    -moz-animation: anim_slides 24s linear infinite 0s;
    -o-animation: anim_slides 24s linear infinite 0s;
    -ms-animation: anim_slides 24s linear infinite 0s;
    animation: anim_slides 24s linear infinite 0s;
}
.body_slides li:nth-child(1){
background-image: url(../img/jobs.png) 
}
.body_slides li:nth-child(2){
-webkit-animation-delay: 6.0s;
-moz-animation-delay: 6.0s;
background-image: url(../img/bill.png) 
    
}
.body_slides li:nth-child(3){
-webkit-animation-delay: 12.0s;
-moz-animation-delay: 12.0s;
background-image: url(../img/nikulus.png) 
    
}
.body_slides li:nth-child(4){
-webkit-animation-delay: 18.0s;
-moz-animation-delay: 18.0s;
background-image: url(../img/linus.png) 
    
}
@-webkit-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}
@-moz-keyframes anim_slides {
0% {opacity:0;}
6% {opacity:1;}
24% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition-delay: 300ms;
  left: 0;
}
.navigation.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.navigation.active .navigation__inner {
  background-color: white;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: background-color 0s linear 599ms, -webkit-transform 300ms linear;
  transition: transform 300ms linear, background-color 0s linear 599ms;
  transition: transform 300ms linear, background-color 0s linear 599ms, -webkit-transform 300ms linear;
}
.navigation.active .navigation__inner:after {
  width: 300%;
  border-radius: 50%;
  -webkit-animation: elastic 150ms ease 300.5ms both;
          animation: elastic 150ms ease 300.5ms both;
}

.navigation__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9999999;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  transition: background-color 0s linear 300ms, -webkit-transform 300ms linear;
  transition: transform 300ms linear, background-color 0s linear 300ms;
  transition: transform 300ms linear, background-color 0s linear 300ms, -webkit-transform 300ms linear;
}
.navigation__inner:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
  transition: all 300ms linear;
}
#footer {
    border-top: 2px dashed;
    padding-top: 30px;
    margin-top: 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
}
@-webkit-keyframes elastic {
  0% {
    border-radius: 50%;
  }
  45% {
    border-radius: 0;
  }
  65% {
    border-top-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%;
  }
  80% {
    border-radius: 0;
  }
  90% {
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
  }
  100% {
    border-radius: 0;
  }
}

@keyframes elastic {
  0% {
    border-radius: 50%;
  }
  45% {
    border-radius: 0;
  }
  65% {
    border-top-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%;
  }
  80% {
    border-radius: 0;
  }
  90% {
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
  }
  100% {
    border-radius: 0;
  }
}